doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    // Fonts
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;900&display=swap' rel='stylesheet')
    
    link(rel='stylesheet' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet' href='/css/style.css')
      
  body
    include navbar.pug
    div.projects-header-container
      h1.projects-header= title
      p.projects-subheader Welcome to DIY Project Planner, #{user.name}
      a(href='/projects/project/create').projects-create-new-button 
        i.fa.fa-plus.projects-create-new-button-icon
        span.project-create-new-text New Project
    
    //aside.sidenav
    
    div.projects-body
      if error 
        p There was an error displaying content 
      else 
        h2.projects-body-title Your Projects
      
      div.projects-list-container
        each project in project_list
          div.projects-list-card
              a(href='/projects/' + project.id) #{project.title}
              
        else 
          li There are no Projects
      
    div.projects-footer
      include footer.pug
        