html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    // Fonts
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;900&display=swap' rel='stylesheet')
    
    link(rel='stylesheet' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet' href='/css/style.css')
      
  body
    include navbar.pug
    
    div.user-profile-container
      // Header Section: Image and logout
      div.user-field-header
        // Image 
        div.user-image-container
          i.fa.fa-user-circle(aria-hidden="true").user-image
          
        // Logout button
        div.user-logout-container 
          form.user-logout-form(action="/users/:id/logout" method="POST")
            button(type="submit").logout Logout
          
      // Body Section: username, email, and password 
      div.user-field-body
        // Username 
        div.user-field
          p.field-header user name:
          p.field-body #{user.name}
        
        // Email 
        div.user-field
          p.field-header email:
          p.field-body #{user.email}
        
        // Password
        div.user-field
          p.field-header password:
          p.field-body #{password}
      
    include footer.pug
    